
python2/bin/python2
python2/bin/pip2
python2/bin/pip2.7
python2/bin/python
python2/bin/python-config
python2/bin/python2.7
python2/bin/wheel
python2/include/python2.7
python2/lib/python2.7/_abcoll.py
python2/lib/python2.7/_abcoll.pyc
python2/bin/activate
python2/bin/activate.csh
python2/bin/activate.fish
python2/bin/activate_this.py
python2/bin/easy_install
python2/bin/easy_install-2.7
python2/bin/pip
python2/lib/python2.7/_weakrefset.py
python2/lib/python2.7/_weakrefset.pyc
python2/lib/python2.7/abc.py
python2/lib/python2.7/abc.pyc
python2/lib/python2.7/codecs.py
python2/lib/python2.7/genericpath.py
python2/lib/python2.7/genericpath.pyc
python2/lib/python2.7/lib-dynload
python2/lib/python2.7/linecache.py
python2/lib/python2.7/linecache.pyc
python2/lib/python2.7/locale.py
python2/lib/python2.7/no-global-site-packages.txt
python2/lib/python2.7/ntpath.py
python2/lib/python2.7/orig-prefix.txt
python2/lib/python2.7/os.py
python2/lib/python2.7/os.pyc
python2/lib/python2.7/posixpath.py
python2/lib/python2.7/posixpath.pyc
python2/lib/python2.7/re.py
python2/lib/python2.7/site-packages/pip/__main__.pyc
python2/lib/python2.7/site-packages/pip/_internal/__init__.py
python2/lib/python2.7/site-packages/pip/_internal/__init__.pyc
python2/lib/python2.7/site-packages/pip/_internal/build_env.py
python2/lib/python2.7/site-packages/pip/_internal/build_env.pyc
python2/lib/python2.7/site-packages/pip/_internal/cache.py
python2/lib/python2.7/site-packages/pip/_internal/cache.pyc
python2/lib/python2.7/site-packages/pip/_internal/cli/__init__.py
python2/lib/python2.7/site-packages/pip/_internal/cli/__init__.pyc
python2/lib/python2.7/site-packages/pip/_internal/cli/autocompletion.py
python2/lib/python2.7/site-packages/pip/_internal/cli/autocompletion.pyc
python2/lib/python2.7/site-packages/pip/_internal/cli/base_command.py
python2/lib/python2.7/site-packages/pip/_internal/cli/base_command.pyc
python2/lib/python2.7/site-packages/pip/_internal/cli/cmdoptions.py
python2/lib/python2.7/site-packages/pip/_internal/cli/cmdoptions.pyc
python2/lib/python2.7/site-packages/pip/_internal/cli/main_parser.py
python2/lib/python2.7/site-packages/pip/_internal/cli/main_parser.pyc
python2/lib/python2.7/site-packages/pip/_internal/cli/parser.py
python2/lib/python2.7/site-packages/pip/_internal/cli/parser.pyc
python2/lib/python2.7/site-packages/pip/_internal/cli/status_codes.py
python2/lib/python2.7/site-packages/pip/_internal/cli/status_codes.pyc
python2/lib/python2.7/site-packages/pip/_internal/commands/__init__.py
python2/lib/python2.7/site-packages/pip/_internal/commands/__init__.pyc
python2/lib/python2.7/site-packages/pip/_internal/commands/check.py
python2/lib/python2.7/codecs.pyc
python2/lib/python2.7/config
python2/lib/python2.7/copy_reg.py
python2/lib/python2.7/copy_reg.pyc
python2/lib/python2.7/distutils/__init__.py
python2/lib/python2.7/distutils/distutils.cfg
python2/lib/python2.7/encodings
python2/lib/python2.7/fnmatch.py
python2/lib/python2.7/re.pyc
python2/lib/python2.7/site-packages/easy_install.py
python2/lib/python2.7/site-packages/easy_install.pyc
*.pyc
*.txt
*.tmpl
*.exe
python2/lib/python2.7/site-packages/setuptools-41.0.1.dist-info/WHEEL
python2/lib/python2.7/site-packages/wheel-0.33.3.dist-info/RECORD
python2/lib/python2.7/site-packages/wheel-0.33.3.dist-info/METADATA
python2/lib/python2.7/site-packages/wheel-0.33.3.dist-info/INSTALLER
python2/lib/python2.7/site-packages/setuptools/command/launcher manifest.xml
python2/lib/python2.7/site-packages/setuptools-41.0.1.dist-info/zip-safe
python2/lib/python2.7/site-packages/setuptools-41.0.1.dist-info/RECORD
python2/lib/python2.7/site-packages/setuptools-41.0.1.dist-info/METADATA
python2/lib/python2.7/site-packages/setuptools-41.0.1.dist-info/LICENSE
python2/lib/python2.7/site-packages/setuptools-41.0.1.dist-info/INSTALLER
python2/lib/python2.7/site-packages/pip/_vendor/distlib/_backport/sysconfig.cfg
python2/lib/python2.7/site-packages/pip/_vendor/certifi/cacert.pem
.DS_Store
python2/lib/python2.7/site-packages/pip-19.1.1.dist-info/INSTALLER
python2/lib/python2.7/site-packages/pip-19.1.1.dist-info/METADATA
python2/lib/python2.7/site-packages/pip-19.1.1.dist-info/RECORD
python2/lib/python2.7/site-packages/pip-19.1.1.dist-info/WHEEL
python2/lib/python2.7/site-packages/wheel-0.33.3.dist-info/WHEEL
.DS_Store
